.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    max-width: 100%;
}
.menu-open{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #000000;
    }
.logo-container {
    width: 100px;
    flex-shrink: 0; 
}

.nav-menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1; 
    justify-content: space-between; 
    margin: 0;
    padding: 0;
}

.nav-menu li {
    list-style: none;
    text-align: center;
}

.nav-menu a {
    padding: 5px 15px; 
    text-decoration: none;
    color: inherit;
    overflow-x: hidden;
    font-size: 25px;
    transition: color 0.3s;
}
.nav-menu a:hover{
    color:#3785c9;
    border-radius: 5px;
}
.info-column{
    text-align: center;
}


@media (max-width: 768px) {
.nav-menu-open{
    flex-direction: column;
}
.nav-menu-open a{
font-size: 20px;
}
.header-container-2{
    margin-left: 20px;
}
.header-container{
    justify-content:space-between;
}
.nav-menu-open li {
    margin-bottom: 20px;
}
 }  